SKIP_BUILD_STATIC_GENERATION=true
STRAPI_API_URL=http://localhost:1337/api
STRAPI_API_SUBMIT_KEY=

# The following secret is used to protect our webhook endpoints. Its value can be found in the query param in Strapi > Settings > Webhooks.
# In case you don't have access to that part of Strapi, you can get it from someone who has.
INCREMENTAL_STATIC_REGENERATION_SECRET=
ZENODO_PUBLISH_SECRET=

ZENODO_API_TOKEN=

DATABASE_URL=




# -------------------------------- PUBLIC VARIABLES --------------------------------
# Public (client) variables - NOTE: These values are public. No secret credentials here!
NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337/api
NEXT_PUBLIC_S3_HOST=
NEXT_PUBLIC_ACCEPT_FORM_SUBMISSIONS=true